body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #f8f9fa;
    color: #333;
}

/* Navbar */
header{
    width: 100%;
    background: #ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
}
 nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    color: #333;
 }

 nav a:hover{
    color: #000;
 }

 /* Hero Section */
 .hero {
    width: 100%;
    padding: 100px 40px;
    background: linear-gradient(135deg, #111 0%, #444 100%);
    color: #fff;
    text-align: center;
 }

 .hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 800;
 }

 .hero p {
    font-size: 1.2rem;
    margin-bottom : 25px;
 }

 .hero button {
    padding: 12px 25px;
    border: none;
    background: #fff;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
 }

 /* Blog View */

 .blog-section {
    padding: 60px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 }

 .post-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05 );
    overflow: hidden;
    transition: transform 0.2s ease;
 }

 .post-card:hover {
    transform: translateY(-5px)
}

.post-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-content {
    padding: 20px;
}

.post-content h3 {
    margin: 0 0 10px;
    font-size: 1.4rem;
    font-weight: 700;
}

.post-content p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.post-content a {
    color: #111;
    font-weight: 600;
    text-decoration: none;
}

/* footer */
footer {
    padding: 30px;
    text-align: center;
    background: #111;
    color: #fff;
    margin-top: 50px;
}